h1,h2,li,h3,a{
  text-align: center ;
}

.pl {
  list-style-type: none;
  padding: 10;
  margin: 0;
}

.pl li {
  margin-bottom: 10px;
  border: 10px solid #333;
  border-radius: 5px;
  padding: 5px;
}

.pl li a {
  text-decoration: none;
  color: #B9F5D8;
}


body {
        background: #1D1E18 ;

	color: #fff ;
        margin-bottom: 200px ;
        font-family: "Garamond", Georgia, serif, 'Noto Color Emoji', 'Apple Color Emoji', 'Segoe UI Emoji';
}
body {
  

user-select:none
  
}

h1 {
text-shadow:
    -5px -2px 0 #000000
}


h1 { color: #6B8F71 ; }
h2 { color: #AAD2BA ; }
h3 { color: #D9FFF5 ; }
a { color: #AAD2BA ; }

li {
width: 50%;
right: 50% ;
text-align: center;
position: center;
 margin: 0 auto;
  transition-duration: 100ms;
}

li:hover {
  transform: scale(1.2);
  cursor: pointer;
}
li:active {
  transform:scale(0.9);
}


.fk:hover {
        box-shadow: -1vmax 1vmax 0vmax;
        transform: scale(.5);
        border: 0.5vmax);
        background-color: transparent;
        justify-content: center;
        left: -4%;
        transition-duration: 200ms;
        border-radius: 25%;
        overflow-x:hidden;
        transform: translateX(5%);
    }
